p{
    
    font-size: 24px;
    position: relative;
}
p::before{
    content:"";
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    background: royalblue;
}


p::after{
    content:"";
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    background: royalblue;
}