
:root{
    --c:blueviolet;
    --perple-voi:#2C3333;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container::before,
.container::after{
    content: "";
    display: table;
    clear:both;
}
.col25{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;

}
.col33{
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;

}
.col50{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;

}
.col100{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* main header */
.header{
}
.logo{
    display: inline-block;
    background-color: rgb(60, 40, 241);
    padding-top: 20px;
    padding-bottom:20px;
    padding-right: 23px;
    position: relative;
}
.logo::before{
    content: "";
    position: absolute;
    background-color: rgb(60, 40, 241);
    top: 0;
    bottom: 0;
    left: -500000px;
    right: 99%;
}

.logo a{
    text-decoration: none;
    font-size: 24px;   
    color: white;
}
.menu{
    float: right;
}
.menu ul{
}

.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(103, 187, 255);
    display: block;
    padding:23px 12px;
}
.menu ul li.active a{
    position: relative;
}
.menu ul li.active a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(103, 187, 255);
    bottom: 0px;
    left: 0;
}

.banner{
    text-align: center;
    background-image: url("../images/baner.jpg");
    background-size: 100% 100%;
    
}
.banner-in{
    padding-top: 215px;
    padding-bottom: 215px;
    position: relative;
}
.banner-in>h2{
    font-size: 48px;
    color: aliceblue;
}
.cat{
    position: absolute;
    bottom: 40px;
    left: 15px;
    
}
.cat a{
    
    display: inline-block;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    background-color:rgb(60, 40, 241);
}

.author{

    position: absolute;
    right: 0;
    bottom: 40px;
    
}

.author a{
    display: inline-block;
    color: aliceblue;
   
    text-decoration: none;
}
.author a:first-child{
    border-right: 2px solid white;
    padding-right: 15px;
}
.author a:last-child{
    color: blue;
    padding-left: 15px;
}

/* common area */
.m-top-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cat-img{
    position: relative;
}
.cat-img>img{
    max-width: 100%;
}
.cat-img-feature{
    position: absolute;
    bottom: 15px;
    left: 0;
    
}
.cat-img-feature a{
        
    display: inline-block;
    color: aliceblue;
    padding: 10px 15px;
    text-decoration: none;
    
}
.cat-img-feature.bga-trip a{
    background-color:rgb(255, 0, 179);
}
.cat-img-feature.bga-tech a{
    background-color:rgb(77, 38, 247);
}
.date-author-common{

}

.date-author-common a{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
}
.date-author-common a:first-child{
    color: rgb(155, 148, 148);
    border-right: 2px solid rgb(155, 148, 148);
    padding-right: 15px;
}
.date-author-common a:last-child{
    color: blue;
    padding-left: 15px;
}

/* common area */

.feature{
    background-color: aliceblue;
    width: 100%;
}

.banner-body{
    position: relative;
    text-align: center;
    padding-top:150px;
    padding-bottom: 150px;
    margin-left: 15px;
    margin-right: 15px;
    background-image: url(../images/body-banner.jpg);
    color: aliceblue;
}
.banner-body{
    
}

.subscribe{
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../images/news.jpg);
}
.subscribe h1{

    padding: 10px;
    color: aliceblue;
}
.sub-in input[type="text"]{
    display: inline-block;
    height: 48px;
    width: 320px;
    border-radius: 30px;
    border: 0;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 125px;
    color: aliceblue;
    background-color: #2c6cff;
}

.sub-in{
    position: relative;
    display: inline-block;
}   
.submit{
    position: absolute;
    top: 0;
    right: 0;
}
.submit input{
    height: 47px;
    padding: 0 30px;
    border-radius: 30px;
    border: 0;
}

.footer{
    text-align: center;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
}




@media screen and (max-width: 1200px) {
    body{
        background-color: red;
    }
}
@media screen and (max-width: 1024px) {
    body{
        background-color: green;
    }
}
@media screen and (max-width: 900px) {
    body{
        background-color: pink;
    }
}
@media screen and (max-width: 768px) {
    body{
        background-color: antiquewhite;
    }
}

@media screen and (max-width: 600px) {
    body{
        background-color: violet;
    }
}
@media screen and (max-width: 480px) {
    body{
        background-color: blue;
    }
}
@media screen and (max-width: 320px) {
    body{
        background-color: purple;
    }
}
