* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: antiquewhite;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.menu ul li a {
    background-color: rgb(136, 205, 233);
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}

.menu ul li a:hover {
    background-color: rgb(42, 43, 44);
}