/*menu section*/

.menu{

}
.menu ul{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
}

.menu ul li:hover{
    background-color: rgb(177, 106, 20);
}
.menu ul li a{
    font-size: 14;
    text-transform: uppercase;
    text-decoration: none;
}


.demo{
    background-image: url("./profile.png");
    background-size: 300px 300px;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment :fixed;
}
.pseudo1:hover{
 background-color: aqua;
 color: black;
 font-size: 24px;
 transition: .5s;
 text-decoration: none;
 text-transform: uppercase;
}